
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("StoreList", "StoreList", "Store", null);
<hr />
@Html.ActionLink("CustomerList", "CustomerList", "Portal", null);
<hr />
@Html.ActionLink("StaffList", "StaffList", "Portal", null);
<hr />
@Html.ActionLink("ProductList", "ProductList", "Portal", null);
<hr />



