@Model List<MyMVCDemo.Models.TransactionHead>
    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>
    @Html.ActionLink("StoreList", "StoreList", "Store", null);
    <hr />
    @Html.ActionLink("CustomerList", "CustomerList", "Store", null);
    <hr />
    @Html.ActionLink("StaffList", "StaffList", "Store", null);
    <hr />
    @Html.ActionLink("ProductList", "ProductList", "Store", null);
    <hr />



