@Model List<MyMVCDemo.Models.Customer>
    @{
        ViewBag.Title = "CustomerList";
    }

    <h2>CustomerList</h2>
    <table>
        <thead>
            <tr>
                <td>Customer Name</td>
                <td>Customer Address</td>
                <td>Customer Phone</td>
            </tr>
        </thead>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.Address</td>
                <td>@customer.Phone</td>
            </tr>

        }
    </table>

